fastapi>=0.115.6
uvicorn[standard]>=0.30.6

SQLAlchemy>=2.0.36
psycopg2-binary>=2.9.9

pydantic>=2.10.3

Pillow>=10.4.0

psutil>=6.1.0

diffusers>=0.36.0
transformers>=4.47.0
accelerate>=1.2.1
safetensors>=0.4.5
